.ref-quantity-widget {
  color: #fff !important;
}
fieldset.ref-tab-content {
  color: #000;
}
.ref-checkout-summary {
  color: #000;
}

input.ref-form-control {
  color: #000;
}

.ref-heading {
  color: #373633;
}
